.project_wrapper {
  max-width: 1000px;
  text-align: center;
  margin: auto;
}

.project_name {
  margin-bottom: 20px;
  font-weight: 300;
}

.display_wrapper {
  max-width: 1000px;
  display: flex;
}

.display_wrapper > * {
  flex: 1;
}

.project_description,
.project_tech {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.project_tech_list {
  list-style: none;
}
.project_external_link_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.project_external_link_wrapper > a {
  margin-right: 10px;
}

@media only screen and (max-width: 960px) {
  .display_wrapper {
    display: flex;
    flex-direction: column;
    /* height: 700px; */
  }
}
