.card_wrapper {
    max-width: 800px;
    height: 300px;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around

}

.card_wrapper_inner {
    max-width: 400px;
}