.projects_title {
  font-weight: 300;
  text-decoration: underline;
}

.projects_text {
  text-align: center;
}

.projects_links {
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
