/* @import url("https://fonts.googleapis.com/css?family=Karma"); */
@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
  color: white;
  /* color: #e6e600; */
}

body {
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171717; 
  max-width: 1000px;
  margin: auto;
  /* background-color: #9f2424;  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  /* font-style: italic; */
  padding: 10px;
  /* border: white 2px solid; */
  /* border-radius: 10px; */
  font-size: 1.2rem;
  text-decoration: none;
  color: #C6976F;
  padding: 2px 1px 0;
  /* transition: border-bottom .5s ease-in-out; */
}

a:hover {
  border-bottom: 1px solid white;
}



html {
  width: 100%;
}