@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
  color: white;
}

body {
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  font-style: italic;
  text-decoration: none;
}


html {
  width: 100%;
}