/* @import url("https://fonts.googleapis.com/css?family=Karma"); */
@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* color: #331509; */
  font-size: 1.5rem;
  color: white;
  /* color: #e6e600; */
}

body {
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171717;
  /* background-color: #c9c063; */
  max-width: 1280px;
  margin: auto;
  padding: 10px;
}

a {
  /* font-style: italic; */
  padding: 10px;
  /* border: white 2px solid; */
  /* border-radius: 10px; */
  font-size: 1.5rem;
  text-decoration: none;
  color: #c6976f;
  /* color: black; */
  padding: 5px;
  font-weight: bold;
  /* transition: border-bottom .5s ease-in-out; */
}

a:hover {
  border-bottom: 1px solid white;
}

html {
  width: 100%;
}
